body{
    margin:0;
    background: #222;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    color: gray;
}

.container{
    width:80%;
    margin :0 auto;
}

header{
    background: #55d6aa;
}
header::after{
    content:" ";
    display:table;
    clear:both
}

nav{
    float:right;
}

nav ul{
    margin:0;
    padding:0;
    list-style: none;
}
nav li{
    display:inline-block;
    margin:5px 25px 5px 0;
    padding: 3.5px;
    
}

.l-s{
    color:blue;
    text-decoration: none;   
}